{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--  MOVE THIS TO A COMMENTS EDIT TO A NEW HTML -->
  


<section class="posts-container" style="padding-bottom: 0;">

   <div class="box-container">

     
    
      <form class="box" method="post">
         <input type="hidden" name="post_id" value="<?= $post_id; ?>">
         <input type="hidden" name="admin_id" value="<?= $fetch_posts['admin_id']; ?>">
         <div class="post-admin">
            <i class="fas fa-user"></i>
            <div>
               <a href="author_posts.php?author=<?= $fetch_posts['name']; ?>">{{ post.author }}</a>
               <div>{{ post.updated }}</div>
            </div>
         </div>
         
         <img src="{{ post.cover.url }}" alt="" style="max-width: 100%">
         
         <div class="post-title">{{ post.title }}</div>
         <div class="post-content">{{ post.content }}</div>
         <div class="icons">
            <div><i class="fas fa-comment"></i><span>{{ comments.count }}</span></div>

            <button type="submit" name="like_post"><i class="fas fa-heart" style="<?php if($confirm_likes->rowCount() > 0){ echo 'color:var(--red);'; } ?>  "></i><span>{{ likes }}</span></button>
            
         </div>
      
      </form>
   </div>

</section>

<section class="comments-container">
{% if request.user.is_authenticated %}
   <p class="comment-title">add comment</p>
   
   <!-- 
 <p class="user"><i class="fas fa-user"></i><a href="update.php">{{ request.user }}</a></p>
   -->
  

   <form action="{% url 'blog:post_comment' post.id %}" method="post" class="add-comment">
      
      <!--
<input type="hidden" name="admin_id" value="<?= $fetch_admin_id['admin_id']; ?>">
      <input type="hidden" name="user_name" value="<?= $fetch_profile['name']; ?>">
      
      <textarea name="comment" maxlength="1000" class="comment-box" cols="30" rows="10" placeholder="write your comment" required></textarea>
      -->
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="add comment" class="inline-btn" name="add_comment">
   </form>
   {% else %}
   <div class="add-comment">
      <p>please login to add or edit your comment</p>
      <a href="{% url 'accounts:login' %}" class="inline-btn">login now</a>
   </div>
  {% endif %}
   {% if requester.user.comments.count != 0 %}
   <p class="comment-title">post comments</p>
   <div class="user-comments-container">
      <!--SHOW ALL COMMENTS THAT THIS POSTS HAS HERE -->
      <div class="show-comments" style="<?php if($fetch_comments['user_id'] == $user_id){echo 'order:-1;'; } ?>">
         <div class="comment-user">
            <i class="fas fa-user"></i>
            <div>
               <span>{{ comments.commenter }}</span>
               <div>{{ comments.updated }}</div>
            </div>
         </div>
         <div class="comment-box" style="<?php if($fetch_comments['user_id'] == $user_id){echo 'color:var(--white); background:var(--black);'; } ?>">{{ comments.body }}</div>
        <!--IF THE AUTHENTICATED USER IS SAME AS COMMENTER OF THIS POST; SHOW THIS -->
         <form action="" method="POST">
            <input type="hidden" name="comment_id" value="<?= $fetch_comments['id']; ?>">
            <button type="submit" class="inline-option-btn" name="open_edit_box">edit comment</button>
            <button type="submit" class="inline-delete-btn" name="delete_comment" onclick="return confirm('delete this comment?');">delete comment</button>
         </form>
         <?php
         }
         ?>
      </div>
      <!-- USER HAS NO COMMENTS ON THIS POST, SHOW THIS-->
      {% else %}
      <p class="empty">no comments added yet!</p>
   </div>
   {% endif %}

</section>




{% endblock %}
{% block jsfiles %}
<script>
  $(".like").click(function (e) {
    var id = this.id;
    var href = $(".like").find("a").attr("href");
    e.preventDefault();

    $.ajax({
      url: href,
      data: {
        likeId: id,
      },
      success: function (response) {
        if (response.liked) {
          $("#likebtn" + id).html("Unlike | {{post.likes.count}}");
          $("#likebtn" + id).css("color", "red");
        } else {
          $("#likebtn" + id).html("Like | {{post.likes.count}}");
          $("#likebtn" + id).css("color", "green");
        }
      },
    });
  });
</script>

{% endblock jsfiles %}